* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/nensp.jpg');
    background-size: 100%;
    height: auto;
}

.bg-tii {
    background-color: #d6d6d6;
}

.bg {
    background-color: #4bf7f0;
}
::placeholder
{
    margin-left:10px;
    font-size: 20px;
    padding:5px;
    margin-top:-5px;
    color: #fc0808;
    opacity: 0.5;
}
option
{
   color: #000000;
   font-weight:600;
   background-color: #97fff6;
   
}
#search {
    font-size: 36px;
    display: flex;
    position: relative;
    left: 409px;
    top: -38px;
    align-items: center;
    justify-content: center;
    width: 8%;
    color: black;
    font-weight: 700;
}

.div-search {
    padding-top: 7px;
}



.search {
    display: flex;
    width: 70%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 18px;
}

.vv {
    margin-left: 18%;
    margin-top: -5px;
}

.support-ll {
}

    .support-ll .mes {
        float: left;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin-top: -1px;
    }

    .support-ll p {
        font-size: 20px;
        margin-top: -5px;
    }

    .support-ll a {
        font-size: 15px;
        text-decoration: none;
        font-weight: 700;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        color: wheat;
    }

    .support-ll .dn {
        background-color: #fa5454;
        border: 2px solid black;
    }

        .support-ll .dn:hover {
            background-color: #08c2ec;
            color: yellow;
        }

    .support-ll .dk {
        background-color: #2d2de4;
        border: 2px solid black;
    }

        .support-ll .dk:hover {
            background-color: #08c2ec;
            color: yellow;
        }

.gh {
    position: relative;
    left: 170px;
    top: -36px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    background-color: yellow;
    padding-left: 20px;
    margin-right: 50%;
    box-shadow: 1px 1px 1px red,2px -3px 1px red;
    z-index: 4;
    font-family: Calibri;
}

.support-ll .link-cart {
}

.support-ll .cart {
    position: relative;
    font-size: 50px;
    left: 110px;
    top: 10px;
    color: #c52d2d;
    background-color: yellow;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    z-index: 5;
    box-shadow: 1px 1px 1px red,2px -2px 1px red;
}


.dmsp {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.dmsps {
    position: absolute;
    float: left;
    font-size: 30px;
    top: 166.5px;
    left: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    z-index: 2;
}


nav {
    background-color: transparent;
}

    nav ul {
        display: flex;
    }

    nav > ul li {
        list-style-type: none;
        border-radius: 5px;
    }

        nav > ul li a {
            display: block;
            padding: 0 25px;
            line-height: 50px;
            color: white;
            text-decoration: none;
            background-color: #1d5ed7;
        }

    nav ul li:first-child {
    }

    nav > ul li:first-child a {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    nav ul li:hover > .cldmsm {
        background: white;
        opacity: .6;
        color: black;
    }

    nav ul li:hover > a {
        background: #08c2ec;
        opacity: .8;
        color: yellow;
        border-radius: 5px;
    }

    nav li ul {
        display: none;
        min-width: 350px;
        position: absolute;
    }

    nav li > ul li {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        background: #08c2ec;
        text-align: left;
    }

        nav li > ul li:first-child a {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        nav li > ul li:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            nav li > ul li:last-child a {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

    nav li:hover > ul {
        display: block;
        z-index: 1;
    }

    nav > ul li > ul li > ul {
        margin-left: 273px;
        margin-top: -30px;
    }

.menu-a {
    background-color: black;
}

.bg-cot2 {
    background-color: black;
    height: 50px;
}

.menu-2-li {
    border-right: 1px solid #ccc;
    font-size: 18px;
}

.font-logo {
    color: white;
}

#nuttruoc {
    width: 50px;
    height: 50px;
    background-color: #4784e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
}

.fa-sharp {
    position: fixed;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 85px;
    right: 37px;
    font-size: 20px;
    color: white;
}

.message img {
    bottom: 15px;
    right: 5px;
    width: 51px;
    height: 50px;
    border-radius: 20%;
    text-shadow: 0px 0px 50px red;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}


.card {
    transform: scale(0.9);
    height: 500px;
    box-shadow: 2px 2px 1px black,2px -1px 1px black, 15px -3px 1px #fa5e5e,-3px 1px #fa5e5e, 15px 2px 1px #fa5e5e,18px 3px 1px black,18px -5px 1px black,-5px -5px 1px black;
}



    .card:hover {
        box-shadow: 0 0 1px 0.1px #1fc9aa,0 0 5px 1px #1fc9aa;
    }

    .card .card-img {
        background-color: white;
    }

        .card .card-img img {
        }

    .card:hover .card-img img {
        transform: scale(0.8);
        transition: 0.4s ease-out;
    }

    .card .card-img img {
    }

    .card .card-title {
    }

        .card .card-title p {
            padding-right: 5px;
        }

            .card .card-title p:nth-child(1) {
                font-size: 25px;
                margin-left: 10%;
                margin-right: 5%;
                color: #1517e4;
                font-family: Blippo, fantasy;
                word-spacing: 3px;
                text-shadow: 0px 2px 2px yellow, 0px -2px 2px #f419cf;
            }

            .card .card-title p:nth-child(2) {
                margin-left: 10%;
                margin-right: 5%;
                text-decoration: line-through;
            }

            .card .card-title p:nth-child(3) {
                margin-left: 10%;
                margin-right: 5%;
            }

            .card .card-title p:nth-child(4) {
                margin-left: 10%;
                margin-right: 5%;
            }

            .card .card-title p:nth-child(5) {
                font-size: 20px;
                position: absolute;
                background-color: rgba(255,124,254,0.4);
                text-align: center;
                font-family: Tahoma;
                top: 260px;
                width: 100%;
            }


            .card .card-title p:nth-child(6) {
                margin-left: 10%;
                margin-right: 5%;
                position: absolute;
                top: 5px;
                left: 170px;
                width: 50px;
                background-color: #1e7ad7;
                color: white;
                text-align: center;
                border-radius: 10%;
                font-size: 18px;
                font-weight: 600;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                animation: pulse 1.5s infinite ease-in-out;
                transition: 0.01s;
            }

@keyframes pulse {
    0% {
        z-index: -1;
    }

    100% {
        z-index: 1;
    }
}

.card .card-title p:nth-child(7) {
    margin-left: 10%;
    margin-right: 5%;
    position: absolute;
    top: -10px;
    left: -28px;
    background-color: yellow;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    transform: scale(1.1);
    color: red;
    font-weight: 700;
    text-shadow: 1px 0.2px 1px #08c2ec;
}

.card .xemchitiet {
    font-size: 28px;
    position: absolute;
    background-color: #08c2ec;
    text-align: center;
    width: 100%;
    top: 215px;
    font-weight: 600;
    color: white;
    display: none;
}

.card:hover .xemchitiet {
    font-size: 28px;
    position: absolute;
    background-color: rgba(18, 252, 252,0.5);
    text-align: center;
    width: 100%;
    top: 215px;
    font-weight: 800;
    color: #1a1818;
    transition: 1s ease-in-out;
    text-shadow: 0px 2px 1px #3afa21, 0px -2.5px 1px yellow;
    display: block;
}
.card .addgh {
    display: none;
}
.card:hover .addgh {
    position: absolute;
    width: 100%;
    top: 500px;
    background-color: yellow;
    color: black;
    font-size: 21px;
    font-weight: 800;
    border-radius: 0px;
    display:block;
}
.chitietsanpham {
    text-decoration: none;
}

.image-GT {
}

    .image-GT .col-9 img {
        border-radius: 5px;
        box-shadow: 1px 1px 11px 5px yellow;
        animation: img1 5s infinite ease-in-out;
    }

@keyframes img1 {
    0% {
        border: 2.5px solid #c110ed;
        box-shadow: 1px 1px 11px 5px red;
    }

    20% {
        border: 2.5px solid red;
        box-shadow: 1px 1px 11px 5px #ccc;
    }

    40% {
        border: 2.5px solid #1fc9aa;
        box-shadow: 1px 1px 11px 5px #4cd5ff;
    }

    60% {
        border: 2.5px solid #f419cf;
        box-shadow: 1px 1px 11px 5px yellow;
    }

    80% {
        border: 2.5px solid #0efda8;
        box-shadow: 1px 1px 11px 5px #08c2ec;
    }

    100% {
        border: 2.5px solid #f3670d;
        box-shadow: 1px 1px 11px 5px #f0758a;
    }
}

.image-GT .col-3 img {
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 11px 5px #08c2ec;
    animation: img1 5s infinite ease-in-out;
}

.loc p {
    font-family:  'Times New Roman', Times, serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 35px;
    float: left;
    color: red;
    text-shadow: 0px 1.5px 1px black, 1px -2px 1.5px #08c2ec;
    text-align: center;
    border-radius: 2px;
    margin-bottom:-5px;

}

.menu2 a {
    color: yellow;
    font-weight: 700;
    text-shadow: 1px 1px 1px red;
}

.aaaa {
    color: aqua;
    font-weight: 700;
    text-shadow: 1px 1px 1px red;
}
.pagination li 
{
    margin-left:1px;
}

.pagination li a {
    width: 100%;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    background-color: #7ffbcc;
    border: 1px solid red;
    color: #820502;
}
    .pagination li a:hover {
        width: 100%;
        border-radius: 50%;
        width: 50px;
        text-align: center;
        background-color: yellow;
        align-items: center;
        color: #820502;
    }

