<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dk.css" rel="stylesheet" />
    <title>Validate Javascript</title>
    <style>
        *,
        ::after,
        ::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url('../../css/images/banner1.jpg');
            background-size: 100%;
            color: #34465c;
            font-size: 16px;
            font-family: Roboto, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        .register-form {
            width: 550px;
            padding: 1.5rem;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            background-color: rgba(0,0,0,0.3);
            border-radius: 7px;
        }

            .register-form h2 {
                margin-bottom: 1.5rem;
                text-align: center;
                color: #ffd91d;
                font-size: 60px;
                text-shadow: 1px 1px 5px #ff0000;
            }

        .input-row {
            margin-bottom: 1.5rem;
        }

            .input-row input {
                width: 100%;
                border: 1px solid #ccc;
                height: 40px;
                line-height: 40px;
                padding: 0 1rem;
                outline: none;
                transition: all 0.3s ease-out;
            }

                .input-row input:focus {
                    border: 1px solid #00bfa6;
                    outline: none;
                }

        .input__note textarea {
            width: 100%;
            min-height: 200px;
            border: 1px solid #ccc;
            user-select: none;
            resize: none;
            padding: 1rem;
        }

            .input__note textarea:focus {
                border: 1px solid #00bfa6;
            }

        .input-row {
            position: relative;
        }

            .input-row:last-child {
                margin-bottom: 0;
            }

            .input-row.success input {
                border-color: #2ecc71;
            }

            .input-row.error input {
                border-color: #e74c3c;
            }

            .input-row small {
                color: #e74c3c;
                position: absolute;
                bottom: -20px;
                left: 0;
                visibility: hidden;
                font-size: 12px;
            }

            .input-row.error small {
                visibility: visible;
            }

        .btn {
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            padding: 8px 15px !important;
            margin-left: 36%;
        }

        #btn-register {
            display: inline-block;
            color: #fff;
            background-color: #00bfa6;
            border: 2px solid #00bfa6;
            outline: 0;
            cursor: pointer;
            text-decoration: none !important;
            position: relative;
            z-index: 20;
            overflow: hidden;
        }

        .linkhome {
            position: absolute;
            right: 14px;
            bottom: 92%;
        }

            .linkhome a {
                text-decoration: none;
                float: left;
                font-size: 35px;
                border-radius: 5px;
                background-color: #21e1ed;
                padding: 5px;
                height: 50px;
            }

            .linkhome:hover a {
                text-decoration: none;
                float: left;
                font-size: 35px;
                border-radius: 5px;
                background-color: #e87171;
                padding: 5px;
                height: 50px;
                transform: scale(0.9);
                transition: 0.3s ease-in-out;
            }

            .linkhome .iconhome {
                float: left;
                align-items: center;
                justify-content: center;
                color: white;
            }

            .linkhome:hover .iconhome {
                float: left;
                align-items: center;
                justify-content: center;
                color: #342222;
            }

            .linkhome p {
                float: left;
                color: white;
                margin-top: -7px;
                font-weight: 600;
                font-family: Calibri;
                text-shadow: 0px 1.5px 1px #030229,0px -1px 1px black,0px -2px 1px white;
            }

            .linkhome:hover p {
                float: left;
                color: #ffd91d;
                margin-top: -7px;
                font-weight: 600;
                font-family: Calibri;
            }
    </style>
</head>

<body>
    <div class="taoktk">
        <p>Nếu bạn đã có tài khoản? 👉<a href="/TrangChu/Dangnhap">Đăng nhập</a></p>
    </div>
    <div class="khungimg">
        <img class="logodn" src="~/Img/Logo.png" />
        <p>Chào mừng bạn đến với trang đăng ký thành viên mới 😋</p>
    </div>

    <div class="linkhome">
        <a href="/TrangChu/Home">
            <ion-icon class="iconhome" name="home"></ion-icon>
            <p>Home</p>
        </a>
    </div>
    <div class="register-form">
        <h2>Register Form</h2>
        <div class="input-row">
            <input type="text" placeholder="Họ tên" id="username" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>
        <div class="input-row">
            <input type="text" placeholder="Tài khoản" id="usernametk" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>
        <div class="input-row">
            <input type="password" placeholder="Mật khẩu" id="usernamemk" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>
        <div class="input-row">
            <input type="password" placeholder="Nhập lại mật khẩu" id="usernameremk" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>

        <div class="input-row">
            <input type="text" placeholder="Số điện thoại" id="phone" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>
        <div class="input-row">
            <input type="Email" placeholder="Email" id="email" autocomplete="off" class="form-control" />
            <small>Error message</small>
        </div>
        <div class="input-row">
            <button class="btn btn-primary" id="btn-register">
                ĐĂNG KÝ
            </button>
        </div>
    </div>
    <script src="~/Content/Main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
